<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-touch-icon-180x180.png" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-512x512.png" sizes="512x512" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./assets/images/favicons/favicon-16x16.png" sizes="16x16" />
<meta name="msapplication-TileColor" content="#42008D" />
<meta name="msapplication-TileImage" content="./assets/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="./assets/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="./assets/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="./assets/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="./assets/images/favicons/mstile-310x310.png" />
